<div>
    <table>
        <tr>
            <td></td>
            <td>Mobile</td>
            <td>Desktop</td>
            <td>Print</td>
            <td></td>
        </tr>

        <tr>
            <td>MIMS prescription medicines information</td>
            <td>mobiMIMS</td>
            <td>eMIMS</td>
            <td>MIMS</td>
            <td>MIMS Desk Reference (MDR)</td>
            <td>Generics Dictionary</td>
            <td>CVS Dictionary</td>
        </tr>

        <tr>
            <td></td>
            <td>Mobisite suitable for all internet-enabled smartphones and tablet devices, including Apple iOS, Android, Windows Mobile and Blackberry OS.</td>
            <td>Offline system requiring internet connection to download content updates. Minimum operating system of Windows 10 (excludes Apple iOS)</td>
            <td>11 issues per year</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Summarised medicine brand- name listings</td>
            <td style="text-align:center">*</td>
            <td style="text-align:center">*</td>
            <td style="text-align:center">*</td>
            <td style="text-align:center">*</td>
            <td></td>
            <td style="text-align:center">*</td>
        </tr>

        <tr>
            <td>Fully detailed medicine brand- name listings</td>
            <td></td>
            <td style="text-align:center">*</td>
            <td></td>
            <td style="text-align:center">*</td>
            <td></td>
            <td></td>
        </tr>


        <tr>
            <td>Active/trade-name index</td>
            <td style="text-align:center">*</td>
            <td style="text-align:center">*</td>
            <td style="text-align:center">*</td>
            <td style="text-align:center">*</td>
            <td style="text-align:center">*</td>
            <td>*</td>
        </tr>

        <tr>
            <td>Pricing	</td>
            <td style="text-align:center">SEP</td>
            <td style="text-align:center">SEP</td>
            <td style="text-align:center">SEP</td>
            <td></td>
            <td style="text-align:center">SEP,MPL,MMAP,MRP</td>
            <td style="text-align:center">SEP,MPL,MMAP,MRP</td>
        </tr>

        <tr>
            <td>ICD-10 codes</td>
            <td style="text-align:center">*</td>
            <td style="text-align:center">*</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Reference information</td>
            <td>Patient information leaflets on medical conditions/surgical procedures</td>
            <td>Patient information leaflets on medical conditions/surgical procedures</td>
            <td></td>
            <td>Drug- Class Overview tables</td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
