
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="font-family:Arial;">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>

    @Html.Partial("Heading")
    <div class="content_single margin" style="float: left">
        <b>Sean Samson:</b><br />
        Tel: 011 280 5533<br />Fax: 011 328 2559<br />
        samsons@tisoblackstar.co.za<br /><br />

        <b>Riëtte van der Merwe:</b><br />
        Tel: 011 280 5856<br />Fax: 086 675 7910<br />
        vandermerwer@tisoblackstar.co.za<br /><br />
        <b>Physical address:</b><br />
        MIMS, a division of Tiso Blackstar Group Pty Ltd<br />
        Hill on Empire<br />
        16 Empire Road<br />
        Parktown 2193<br />
    </div>
    <div class="post_img_single_full">
        <iframe class="gmap" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4257.766458597883!2d28.038820165392952!3d-26.18559793766059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x93d86db2d672d7c9!2sTiso+Blackstar!5e0!3m2!1sen!2sza!4v1526976275994" frameborder="0" style="border-style: none; border-color: inherit; border-width: 0; width: 450px; float: right; height: 320px;"></iframe>
    </div>

</body>
</html>
