<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FlowDocumentConverter" version="1.0.0" targetFramework="net472" />
  <package id="FreeSpire.PDF" version="3.2" targetFramework="net472" />
  <package id="kenjiuno.PdfSharp.Xps" version="1.1.9" targetFramework="net472" />
  <package id="kenjiuno.PdfSharp-WPF" version="1.31.6034" targetFramework="net472" />
</packages>