
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Compare Human Medicine</title>
</head>
<body>
    <img src="~/images/Medicine comparison.jpg" />
    @*<p>
         @Html.ActionLink("Go back to product selection", "List", "Promotion")
    </p>*@
</body>
</html>
