<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <configSections/>
  <connectionStrings>
    <add name="Subs.XMLService.Properties.Settings.ConnectionStringOld"
      connectionString="Data Source=PKLMAGMIMS01;Initial Catalog=MIMS3;User=MIMSWebServiceUser; Password=akkedis; Enlist=False;Pooling=True;Max Pool Size=10;Connect Timeout=30"/>
    <add name="Subs.XMLService.Properties.Settings.ConnectionString"
      connectionString="Data Source=172.15.83.231\mssql2016std;Initial Catalog=MIMS3;User=MIMSWebServiceUser; Password=akkedis; Enlist=False;Pooling=True;Max Pool Size=10;Connect Timeout=30"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
    <trace enabled="true" requestLimit="100" pageOutput="true" traceMode="SortByTime" localOnly="false" mostRecent="true"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>