
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>

    @Html.Partial("Heading")

    <div>
        <p class=MsoNormal style='line-height:normal'>
            <b>
                <span lang=EN-ZA
                      style='font-size:13.5pt;font-family:"Arial"'>Welcome</span>
            </b>
        </p>

        <p class=MsoNormal style='line-height:normal'>
            <b>
                <span lang=EN-ZA
                      style='font-size:12.0pt;font-family:"Arial"'>
                    MIMS – the
                    medical publishing division of Tiso Blackstar Group (Pty) Ltd – is southern
                    Africa’s leading publisher of reference information to the medical profession.
                </span>
            </b>
        </p>

        <p class=MsoNormal style='line-height:normal'>
            <span lang=EN-ZA
                  style='font-size:12.0pt;font-family:"Arial"'>
                Our audience
                includes GPs, specialists, pharmacists, pharmacy assistants and other health
                care professionals.
            </span>
        </p>

        <p class=MsoNormal style='line-height:normal'>
            <span lang=EN-ZA
                  style='font-size:12.0pt;font-family:"Arial"'>
                MIMS produces a
                host of publications in the print and digital media.
            </span>
        </p>

        <p class=MsoNormal style='line-height:normal'>
            <span lang=EN-ZA
                  style='font-size:12.0pt;font-family:"Arial"'>
                Core products in
                the print medium include MIMS monthly – widely regarded as the doctor’s most
                trusted prescription tool – consisting of abbreviated package insert
                information on most prescription medicines available in South Africa, and MIMS
                Desk Reference (MDR) which features fully detailed medicines listings,
                abbreviated listings plus important prescriber information. Products in
                electronic format include the newly relaunched emims – encompassing MIMS/MDR
                medicines listings, an ICD10 coding browser, as well as patient information
                leaflets on a wide range of medical conditions; and mobiMIMS, comprising MIMS
                listings for smartphones and Internet-enabled tablet devices. These products
                can be ordered on their own or in various combinations.
            </span>
        </p>

        <p class=MsoNormal style='line-height:normal'>
            <span lang=EN-ZA
                  style='font-size:12.0pt;font-family:"Arial"'>
                Relatively new
                in the MIMS stable is the quarterly The Generics Dictionary publication,
                featuring succinct prescriber and pricing information (including maximum
                medical aid reimbursement prices) for the vast majority of  generic medicines
                in South Africa. The accompanying website
            </span><span lang=EN-ZA>
                <a href="http://www.generic.co.za"><span style='font-size:12.0pt;font-family:"Arial"'>www.generic.co.za</span></a>
            </span><span lang=EN-ZA style='font-size:12.0pt;font-family:"Arial"'>
                is
                the country’s leading online resource for locally prescribed generic medicines.
            </span>
        </p>

        <p class=MsoNormal style='line-height:normal'>
            <span lang=EN-ZA
                  style='font-size:12.0pt;font-family:"Arial"'>
                Additional
                publications include, among others, Guide to OTC Products, The CVS Dictionary and
                a CPD Handbook series (comprising treatment approaches and drug-class overviews)
                on the following topics: Oncology, Geriatric Medicine, Infectious Diseases, Gastro-intestinal
                Diseases, Pain &amp; Physical Medicine, Women's Health, Psychiatric Medication,
                Cardiovascular &amp; Metabolic Diseases, and Aesthetic Medicine.
            </span>
        </p>

        <p class=MsoNormal style='line-height:normal'>
            <span lang=EN-ZA
                  style='font-size:12.0pt;font-family:"Arial"'>
                In the
                veterinary field, we publish IVS quarterly, consisting of abbreviated package
                insert information on most veterinary medicines available in South Africa, and
                IVS Desk Reference (IDR) comprising full package insert information.<br>
                <br>
                With over 60 years’ experience, MIMS is southern Africa’s leading publisher of
                medical reference information for health care professionals.
            </span>
        </p>

        <p class=MsoNormal style='line-height:normal'>
            <span lang=EN-ZA
                  style='font-size:12.0pt;font-family:"Arial"'>
                You can browse
                through and order our various publications on our
            </span><span lang=EN-ZA>
                <a href="https://www.mims.co.za/Products.aspx">
                    <span style='font-size:12.0pt;
font-family:"Arial";color:blue'>Products</span>
                </a>
            </span><span lang=EN-ZA style='font-size:12.0pt;font-family:"Arial"'>
                Page. If you require any further information please
            </span><span lang=EN-ZA>
                <a href="https://www.mims.co.za/Contact.aspx">
                    <span style='font-size:12.0pt;
font-family:"Arial";color:blue'>Contact</span>
                </a>
            </span><span lang=EN-ZA style='font-size:12.0pt;font-family:"Arial"'>us.</span>
        </p>
    </div>
    </div>

    </div>

    </div>
</body>
</html>
